<div style="display: flex; text-align: center">
  <div cdkDropList [cdkDropListData]="numbers" (cdkDropListDropped)="drop($event)" [cdkDropListConnectedTo]="bookList"
    #numberList="cdkDropList" class="number-container">
    <span>Taken books</span>
    <br>
    <div cdkDrag *ngFor=" let number of numbers" class="number-panel">{{number}}</div>
  </div>

  <div cdkDropList [cdkDropListData]="books" (cdkDropListDropped)="drop($event)" [cdkDropListConnectedTo]="numberList"
    #bookList="cdkDropList" class="number-container">
    <span>Return</span>
    <br>
    <div cdkDrag *ngFor=" let number of books" class="number-panel">{{number}}</div>
  </div>
</div>