.number-container{
    width: 25%;
    /* display: flex; */
    border: solid 1px black;
}

.number-panel{
    width: 100%;
    height: 100px;
    display: inline-flex;
    border: solid 1px green;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}